#hero-mangaraptor {
  background: url("../resources/hero-mangaraptor.png");
  background-size: cover;
}

#mangaraptor-1 {
  background: url("../resources/mangaraptor-1.png");
  background-size: cover;
}

#anime-1 {
  background-image: url("../resources/anime-1.jpg");
  background-attachment: fixed;
}

.btn-code {
  background: #ced6e2;
  transition: background .5s;
}

.btn-code:hover {
  background: #8b8d91;
}

.btn-code:active {
  background: #3d3e3f;
}

#mangaraptor-logo {
  width: 350px;
}

.btn-return {
  position: absolute;
  top: 10;
  left: 10;
}

@media only screen and (min-width: 769px) {
  .row-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hero-responsive {
    height: 400px;
    padding-left: 1em;
  }
}
