#dropbloq-1 {
  background: url("../../resources/dropbloq-1.png");
  background-position: bottom center;
  background-size: cover;
}

#dropbloq-2 {
  background: url("../../resources/dropbloq-2.png");
  background-size: cover;
}

#dropbloq-3 {
  background: url("../../resources/dropbloq-3.png");
  background-size: cover;
}
