#examli-1 {
  background: url("../../resources/examli-1.jpg");
  background-size: cover;
  background-position: bottom center;
}

#examli-2 {
  background: url("../../resources/examli-2.png");
  background-size: cover;
}

#examli-3 {
  background: url("../../resources/examli-3.png");
  background-size: cover;
}
