#examlearn-1 {
  background-image: url("../../resources/examlearn-1.png");
  background-size: cover;
  background-position: center center;
}

#examlearn-2 {
  background-image: url("../../resources/examlearn-2.png");
  background-size: cover;
}

#examlearn-3 {
  background-image: url("../../resources/examlearn-3.png");
  background-size: cover;
}

.row:nth-child(2n) {
  background: #eff1f4;
}
