#hero-mangaraptor {
  background: url("../../resources/hero-mangaraptor.png");
  background-size: cover;
}

#mangaraptor-1 {
  background: url("../../resources/mangaraptor-1.png");
  background-size: cover;
}

#anime-1 {
  background-image: url("../../resources/anime-1.jpg");
  background-attachment: fixed;
}

#mangaraptor-logo {
  width: 350px;
}
