#default-1 {
  background: url("../../resources/default-1.jpg");
  background-size: cover;
  background-position: center center;
}

#default-2 {
  background: url("../../resources/default-2.jpg");
  background-size: cover;
  background-position: bottom center;
}

#default-3 {
  padding: 0;
}

.project-list tr:hover {
  background: #eff0f2;
}

#team-list {
  padding: 0;
}

.availability-table {
  width: 380px;
  background: #39393a;
}

.availability-table tr:hover {
  background: #999ea8;
}

.instruction-list {
  font-size: 125%;
}

.instruction-list li {
  list-style-type: decimal;
}

.team-role {
  font-weight: bold;
  transition: color .4s;
  font-size: 40px;
}

.team-role:hover {
  color: #a8a8a8;
}

@media only screen and (max-width: 768px) {
  .hero-responsive {
    height: initial!important;
  }
}
