#default-1 {
  background: url("../../resources/index-1.jpg");
  background-size: cover;
}

#default-2 {
  background: url("../../resources/default-2.jpg");
  background-size: cover;
  background-position: bottom center;
}

.btn-return {
  background: transparent;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(178, 184, 193);
  color: rgb(178, 184, 193);
}

.btn-return-lg {
  border: none;
  border-bottom: 1px dotted rgb(178, 184, 193);
}

.btn-return:link, .btn-return:active, .btn-return:hover, .btn-return:focus, .btn-return:visited {
  color: rgb(178, 184, 193);
}

.row-mobile .btn-return {
  margin-bottom: 2em;
}

.availability-table {
  width: 380px;
  background: #39393a;
}

.availability-table tr:hover {
  background: #999ea8;
}

.project-link, .project-link:focus, .project-link:visited, .project-link:link, .project-link:active {
  color: #6e7075;
}

.project-link:hover {
  color: #1b1b1c;
}

.instruction-list {
  font-size: 125%;
}

.instruction-list li {
  list-style-type: decimal;
}

@media only screen and (max-width: 768px) {
  .hero-responsive {
    height: initial;
  }
}
