#default-1 {
  background: url("../../resources/default-1.jpg");
  background-size: cover;
  background-position: center center;
}

#default-2 {
  background: url("../../resources/default-2.jpg");
  background-size: cover;
  background-position: bottom center;
}

#default-3 {
  padding: 0;
}

#hero-project-mobile {
  background: #828893;
}

.technology {
  color: orange;
}

.project-list tr:hover {
  background: #eff0f2;
}

#team-list {
  padding: 3em 0;
}

.availability-table {
  width: 380px;
  background: #39393a;
}

.row-mobile .availability-table {
  width: 100%;
}

.row-mobile .availability-table td {
  background: #979aa0;
  border-bottom: 1px solid #888b91;
}

.row-mobile .availability-table td:hover {
  background: #8d929b;
}

.availability-table tr:hover {
  background: #999ea8;
}

.instruction-list {
  font-size: 125%;
}

.instruction-list li {
  list-style-type: decimal;
}

.project-name {
  display: inline;
}

#developers-title {
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .hero-responsive {
    height: initial!important;
  }
}
