#raptor-1 {
  background-image: url("../../resources/raptor-1.png");
  background-size: cover;
}

#raptor-2 {
  background-image: url("../../resources/raptor-2.jpg");
  background-size: cover;
}

#raptor-3 {
  background-image: url("../../resources/raptor-3.png");
  background-size: cover;
}
