#hero-tables-1 {
  background: url("../../resources/hero-tables-1.png");
  background-size: cover;
}

#hero-tables-2 {
  background-image: url("../../resources/hero-tables-2.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.row:nth-child(2n + 1) {
  background: #fffdf4;
}

.code-info {
  margin: 2em 0;
}
