#hero-index {
  background: url("../resources/hero.JPG") no-repeat center center;
  background-size: cover;
}

.row:nth-child(2n + 3) {
  background: #eff1f4;
}

#social-img, #smile-img, #bio-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bio-img {
  width: 250px;
}

.project-listing {
  color: #a5b3c9;
}

.project-listing:hover {
  background: #dee2e8;
}

.project-listing:link {
  color: #a5b3c9;
}

.project-listing:hover {
  color: #70819e;
}

.project-listing:active {
  color: #59616d;
}

#avatar-logo {
  width: 270px;
}

.copyright {
  margin-top: 3em;
}

@media only screen and (max-width: 768px) {
   #social-img {
     display: none;
   }
}
