html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.complete-transition {
  transition: all .5s;
}

a:hover,  a:link, a:visited, a:focus, a:active {
  color: inherit;
}

.btn-return {
  background: transparent;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(178, 184, 193);
  color: rgb(178, 184, 193);
}

.row-mobile .btn-return {
  border: none;
  border-bottom: 1px dotted rgb(178, 184, 193);
  margin-bottom: 2em;
}

.btn-return:link, .btn-return:active, .btn-return:hover, .btn-return:focus, .btn-return:visited {
  color: rgb(178, 184, 193);
}

.project-list tr:hover {
  background: #dce0e8;
}

.project-list-lg tr {
  height: 150px;
  border-bottom: 1px solid #d9dce0;

  font-size: 150%;
}

.grey-trans, .grey-trans:active, .grey-trans:link, .grey-trans:focus, .grey-trans:visited {
  color: #a5b3c9;
}

.black-trans, .black-trans:active, .black-trans:link, .black-trans:focus, .black-trans:visited {
  color: rgb(55, 58, 60);
}

.black-trans:hover, .grey-trans:hover {
  color: #70819e;
}

.light-grey-trans, .light-grey-trans:active, .light-grey-trans:link, .light-grey-trans:focus, .light-grey-trans:visited {
  color: #6e7075;
}

.light-grey-trans:hover {
  color: #1b1b1c;
}

.green-trans, .green-trans:active, .green-trans:link, .green-trans:focus, .green-trans:visited {
  color: #a5b3c9;
  border-color: #a5b3c9;
}

.green-trans:hover {
  color: green;
  border-color: green;
}

.overlay {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  pointer-events: none;
  z-index: 10;

  padding: 3em 8em;

  font-family: 'Josefin Sans';

  color: #b2b8c1;
  background: #1f1f21;
}

.overlay-clickable {
  pointer-events: all;
}

.overlay-title {
  font-size: 4em;
  padding: 30px;
}

.overlay-top {
  padding: 2em 3em;
  margin-bottom: 80px;
}

.hero {
  height: 600px;
  background-position: center center;
}

.hero-2 {
  height: 1200px;
}

.row {
  font-family: 'Josefin Sans';
  padding-top: 4em;
  padding-bottom: 4em;
}

.emphasis {
  font-size: 145%;
  color: #a7aeba;
  transition: color .5s;
}

.emphasis:hover {
  color: black;
}

.img-round {
  border-radius: 50%;
}

.text-center {
  text-align: center
}

table {
  width: 100%;
}

td, th {
  height: 100%;
  font-size: 150%;
  padding: 0;
}

td a {
  margin: 0;
  padding: 1em;
  display: block;
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

.scroll-fixed {
  background-attachment: fixed !important;
}

.board {
  background: #e3e8ef;
  padding: 6px;
  display: inline-block;
}

.typing-container {
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
}

.typing {
  vertical-align: bottom;
  overflow: hidden;
  letter-spacing: .10em;
  display: inline-block;
  border-right: .15em solid orange; /* The typwriter cursor */
  animation: blink-caret .75s infinite, type 5s;
  width: 0;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes type {
  from, to {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .row {
    padding-left:3em;
    padding-right: 3em;
  }
  .row-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hero-responsive {
    height: 200px;
  }
  .row {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row-no-mobile {
    display: none;
  }
  .overlay {
    display: none;
  }
  .scroll-fixed {
    background-attachment: scroll !important;
  }
}
